In [1]:
import pandas

In [7]:
df = pandas.DataFrame([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20]])

In [8]:
df

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20

In [11]:
df.columns = ["One","Two","Three","Four","Five"]

In [12]:
df

   One  Two  Three  Four  Five
0    1    2      3     4     5
1    6    7      8     9    10
2   11   12     13    14    15
3   16   17     18    19    20

In [15]:
df.index = ["First Row","Second Row","Third Row","Fourth Row"]

In [16]:
df

            One  Two  Three  Four  Five
First Row     1    2      3     4     5
Second Row    6    7      8     9    10
Third Row    11   12     13    14    15
Fourth Row   16   17     18    19    20