In [5]:
import pandas

In [6]:
#Open a csv file and read it with the index set as the ID column
csvopenage = pandas.read_csv("supermarkets.csv",index_col="ID")
#show the csv 
csvopenage

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
#Open a json file

In [8]:
jsonopenage = pandas.read_json("supermarkets.json")
#show the json file
jsonopenage

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [9]:
#Open an excel file and specify the sheet
excelopenage = pandas.read_excel("supermarkets.xlsx", sheetname=[0])
#show the excel file
excelopenage

{0:    ID          Address            City             State Country  \
 0   1     3666 21st St   San Francisco          CA 94114     USA
 1   2   735 Dolores St   San Francisco          CA 94119     USA
 2   3      332 Hill St   San Francisco  California 94114     USA
 3   4     3995 23rd St   San Francisco          CA 94114     USA
 4   5  1056 Sanchez St   San Francisco        California     USA
 5   6  551 Alvarado St   San Francisco          CA 94114     USA

   Supermarket Name  Number of Employees
 0          Madeira                    8
 1      Bready Shop                   15
 2      Super River                   25
 3       Ben's Shop                   10
 4          Sanchez                   12
 5       Richvalley                   20  }

In [10]:
#Opening a text file seperated by commas
opentextfilecsv = pandas.read_csv("supermarkets_commas.txt",index_col="ID")
opentextfilecsv

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [11]:
#Opening a text file seperated by semi colons.
opensemicolontextfile = pandas.read_csv("supermarkets_semi-colons.txt", sep=";", index_col="ID")
opensemicolontextfile

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
#open a web json file!
redditjson = pandas.read_json("https://gist.githubusercontent.com/anonymous/83803696b0e3430a52f1/raw/29f2b252981659dfa6ad51922c8155e66ac261b2/walmart.json")
redditjson

,address1,city,country,id,latitude,longitude,name,openDate,phone_number,postalCode,state,storeType,timeZone
0,8801 Old Seward Hwy,Anchorage,US,6601,61.140770,-149.860016,Sam's Club,01/04/1994 12:00,(907) 522-2333,99515,AK,3,K
1,1074 N. Muldoon Road,Anchorage,US,6602,61.231079,-149.740844,Sam's Club,01/06/1994 12:00,(907) 276-2996,99504,AK,3,K
2,1350 S Seward Meridian Pkwy,Wasilla,US,2074,61.568752,-149.363647,Walmart Supercenter,03/29/1994 12:00,(907) 376-9780,99654,AK,1,K
3,3101 A St,Anchorage,US,2070,61.192337,-149.880356,Walmart Supercenter,03/29/1994 12:00,(907) 563-5900,99503,AK,1,K
4,48 College Rd,Fairbanks,US,6603,64.852867,-147.707336,Sam's Club,01/08/1994 12:00,(907) 451-4800,99701,AK,3,K
5,8900 Old Seward Hwy,Anchorage,US,2071,61.140263,-149.868835,Walmart Supercenter,03/29/1994 12:00,(907) 344-5300,99515,AK,1,K
6,18600 Eagle River Rd,Eagle River,US,2188,61.309483,-149.534912,Walmart Supercenter,04/26/2000 12:00,(907) 694-9780,99577,AK,1,K
7,6525 Glacier Hwy,Juneau,US,3814,58.358349,-134.514862,Walmart Supercenter,09/12/2007 12:00,(907) 789-5000,99801,AK,1,K
8,10096 Kenai Spur Hwy,Kenai,US,4474,60.564476,-151.223907,Walmart Supercenter,03/31/2010 12:00,(907) 395-0971,99611,AK,1,K
9,537 Johansen Expy,Fairbanks,US,2722,64.856873,-147.689590,Walmart Supercenter,04/28/2004 12:00,(907) 451-9900,99701,AK,1,K
10,7405 Debarr Road,Anchorage,US,4359,61.210758,-149.743011,Walmart,09/25/2013 12:00,(907) 339-9039,99504,AK,2,K
11,2911 Mill Bay Rd,Kodiak,US,2711,57.811760,-152.364822,Walmart,03/31/1999 12:00,(907) 481-1670,99615,AK,2,K
12,4230 Don King Rd,Ketchikan,US,2710,55.375927,-131.720535,Walmart,03/21/2001 12:00,(907) 247-2156,99901,AK,2,K
13,7201 Aaron Aronov Dr,Fairfield,US,763,33.466076,-86.914950,Walmart Supercenter,11/13/1984 12:00,(205) 923-4423,35064,AL,1,CST
14,145 Kelley Blvd,Millbrook,US,4318,32.467430,-86.359489,Walmart Supercenter,06/13/2007 12:00,(334) 285-0311,36054,AL,1,CST
15,9248 Parkway E,Birmingham,US,762,33.588509,-86.698806,Walmart Supercenter,11/13/1984 12:00,(205) 833-7676,35206,AL,1,CST
16,1007 Red Farmer Dr,Hueytown,US,4497,33.460197,-86.968231,Walmart Supercenter,10/15/2008 12:00,(205) 744-9997,35023,AL,1,CST
17,1537 S Us Highway 231,Ozark,US,740,31.443780,-85.651567,Walmart Supercenter,07/04/1981 12:00,(334) 774-0272,36360,AL,1,CST
18,4310 Montgomery Hwy,Dothan,US,604,31.267494,-85.440842,Walmart Supercenter,11/15/1983 12:00,(334) 793-3099,36303,AL,1,CST
19,3100 Hough Rd,Florence,US,766,34.834320,-87.625877,Walmart Supercenter,11/13/1984 12:00,(256) 767-7581,35630,AL,1,CST
20,92 Plaza Ln,Oxford,US,809,33.600848,-85.833324,Walmart Supercenter,08/30/1985 12:00,(256) 835-4701,36203,AL,1,CST
21,750 Academy Dr,Bessemer,US,764,33.361343,-87.001366,Walmart Supercenter,11/13/1984 12:00,(205) 424-5890,35022,AL,1,CST
22,11610 Memorial Pkwy Sw,Huntsville,US,434,34.616600,-86.567370,Walmart Supercenter,08/11/1981 12:00,(256) 881-0581,35803,AL,1,CST
23,5100 Highway 31,Calera,US,3271,33.147797,-86.749263,Walmart Supercenter,06/20/2001 12:00,(205) 668-0831,35040,AL,1,CST
24,214 Haynes St,Talladega,US,432,33.438545,-86.080734,Walmart Supercenter,08/18/1981 12:00,(256) 761-1681,35160,AL,1,CST
25,2200 Sparkman Dr Nw,Huntsville,US,433,34.762978,-86.593203,Walmart Supercenter,08/11/1981 12:00,(256) 852-2236,35810,AL,1,CST
26,1950 W Main St,Centre,US,5126,34.161071,-85.714052,Walmart Supercenter,08/20/2003 12:00,(256) 927-9900,35960,AL,1,CST
27,2900 S. Mem Pkwy(Dra Tba 375,Huntsville,US,375,34.711246,-86.549210,Walmart,08/01/1981 12:00,(256) 536-2870,35801,AL,2,CST
28,501 Willow Ln,Greenville,US,1462,31.849336,-86.643753,Walmart Supercenter,04/30/1990 12:00,(334) 382-2655,36037,AL,1,CST
29,312 Palisades Blvd,Birmingham,US,4504,33.468331,-86.819536,Neighborhood Market,04/25/2007 12:00,(205) 870-8101,35209,AL,4,CST
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5791,100 Nitro Market Pl,Cross Lanes,US,2576,38.411626,-81.810313,Walmart Supercenter,08/19/1998 12:00,(304) 769-0100,25313,WV,1,EST
5792,61 Plaza Drive,Kimball,US,3811,37.425327,-81.506889,Walmart Supercenter,10/26/2005 12:00,(304) 585-7800,24853,WV,1,EST
5793,800 Foxcroft Ave,Martinsburg,US,1703,39.453748,-77.988114,Walmart Supercenter,07/02/1991 12:00,(304) 263-6061,25401,WV,1,EST
5794,1001 Warrior Way,Quincy,US,4278,38.203522,-81.501877,Walmart Supercenter,09/12/2011 12:00,(304) 220-3001,25015,WV,1,EST
5795,450 Stewart Ln,Triadelphia,US,5088,40.058128,-80.604446,Walmart Supercenter,11/08/2006 12:00,(304) 547-1726,26059,WV,1,EST
5796,1100 Grand Central Ave,Vienna,US,6373,39.310414,-81.552835,Sam's Club,12/02/1992 12:00,(304) 295-0280,26105,WV,3,EST
5797,5680 Hammonds Mill Rd,Martinsburg,US,4423,39.544971,-77.908869,Walmart Supercenter,03/05/2008 12:00,(304) 274-5176,25404,WV,1,EST
5798,200 Wal St,Summersville,US,1477,38.304921,-80.834486,Walmart Supercenter,10/29/1990 12:00,(304) 872-6734,26651,WV,1,EST
5799,1881 Robert C Byrd Dr,Macarthur,US,5319,37.753281,-81.218732,Walmart Supercenter,05/25/2005 12:00,(304) 256-6480,25873,WV,1,EST
5800,10 Walmart Dr,Moundsville,US,2852,39.881245,-80.706963,Walmart Supercenter,01/31/2006 12:00,(304) 843-1580,26041,WV,1,EST
5801,100 Buckhannon Crossroads,Buckhannon,US,2809,38.998663,-80.234755,Walmart Supercenter,08/16/2000 12:00,(304) 472-2589,26201,WV,1,EST
5802,1330 No. Eisenhower Dr,Beckley,US,1351,37.825741,-81.231804,Walmart Supercenter,09/16/1989 12:00,(304) 255-7800,25801,WV,1,EST
5803,#1 Wal-Mart Lane,Grafton,US,2833,39.353390,-80.045845,Walmart Supercenter,01/26/2000 12:00,(304) 265-6294,26354,WV,1,EST
5804,1142 S Bridge St,New Martinsville,US,2684,39.656335,-80.858173,Walmart Supercenter,01/27/1999 12:00,(304) 455-6522,26155,WV,1,EST
5805,96 Patrick Henry Way,Charles Town,US,2566,39.299395,-77.830203,Walmart Supercenter,10/29/1997 12:00,(304) 728-2720,25414,WV,1,EST
5806,520 N Jefferson St,Lewisburg,US,1499,37.812508,-80.431745,Walmart Supercenter,08/16/1995 12:00,(304) 645-5280,24901,WV,1,EST
5807,1220 N Eisenhower Dr,Beckley,US,4860,37.801164,-81.179904,Sam's Club,10/28/2004 12:00,(304) 252-6508,25801,WV,3,EST
5808,110 Berlin Rd,Weston,US,1653,39.019915,-80.416100,Walmart Supercenter,07/27/1991 12:00,(304) 269-1549,26452,WV,1,EST
5809,4600 E 2Nd St,Casper,US,6425,42.849025,-106.266639,Sam's Club,09/13/1993 12:00,(307) 237-8877,82609,WY,3,MST
5810,1695 Coffeen Ave,Sheridan,US,1508,44.780212,-106.940346,Walmart Supercenter,10/29/1990 12:00,(307) 674-6492,82801,WY,1,MST
5811,4255 Cy Ave,Casper,US,3778,42.818457,-106.376263,Walmart Supercenter,08/30/2006 12:00,(307) 232-9593,82604,WY,1,MST
5812,201 Gateway Blvd,Rock Springs,US,1461,41.580231,-109.251381,Walmart Supercenter,08/01/1990 12:00,(307) 362-1957,82901,WY,1,MST
5813,4308 E Grand Ave,Laramie,US,1412,41.304283,-105.539757,Walmart Supercenter,04/02/1990 12:00,(307) 745-6100,82070,WY,1,MST
5814,2032 Dell Range Blvd,Cheyenne,US,1315,41.164219,-104.791122,Walmart Supercenter,12/30/1989 12:00,(307) 632-4330,82009,WY,1,MST
5815,125 N 2Nd St,Evanston,US,1456,41.265720,-110.954559,Walmart Supercenter,08/01/1990 12:00,(307) 789-0010,82930,WY,1,MST
5816,2300 S Douglas Hwy,Gillette,US,1485,44.273472,-105.494208,Walmart Supercenter,01/30/1991 12:00,(307) 686-4060,82718,WY,1,MST
5817,1733 N Federal Blvd,Riverton,US,1457,43.042599,-108.379036,Walmart Supercenter,06/27/1990 12:00,(307) 856-3261,82501,WY,1,MST
5818,321 Yellowstone Ave,Cody,US,1778,44.517460,-109.089333,Walmart Supercenter,04/01/1992 12:00,(307) 527-4673,82414,WY,1,MST
5819,1948 Dell Range Blvd,Cheyenne,US,6430,41.162819,-104.793297,Sam's Club,02/25/1993 12:00,(307) 637-3771,82009,WY,3,MST
5820,4400 E 2Nd St,Casper,US,1617,42.849002,-106.269392,Walmart Supercenter,12/31/1991 12:00,(307) 237-0991,82609,WY,1,MST

In [14]:
#Show a dataframe
opensemicolontextfile

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [22]:
#select a portion of it.
opensemicolontextfile.loc[:"3"]

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25

In [30]:
#Set the index to be the address
opensemicolontextfile = opensemicolontextfile.set_index("City")
#Select a single row excluding employees #startrow:endrow, startcolumn:endcolumn

KeyError: 'Address'